<html>
<head></head>
<body>
    <h1>Здравствуйте, {{ username }}!</h1>
    <p>Мы подготовили для вас подборку лучших фильмов на этой неделе! Выбирайте, что посмотреть в уютный вечер.</p>
    
    {% for category in suggestions %}
    
    <h2>{{ category }}:</h2>
    {% for movie in movies %}
    <p>movie</p>
    {% endfor %}

    {% endfor %}

📽 Выбирайте фильм и смотрите уже сегодня!

➡ Жмите сюда, чтобы начать просмотр [вставьте ссылку]

Приятного просмотра! 🍿✨

Ваш [Название кинотеатра]


</body>
</html>
